In [2]:
3+2

5

Shift + Enter  -> 실행

pip install xlwings (명령 프롬포트에서 )

In [5]:
import xlwings

In [6]:
xlwings.sheets

Sheets([<Sheet [통합 문서1]Sheet1>])

In [7]:
xlwings.Range("A1").expand().value

[['message', 'browser'],
 ['첫 로그', 'chrome'],
 ['두 번째 로그', 'chrome'],
 ['세 번째 로그', 'chrome'],
 ['로그 #4', 'chrome'],
 ['로그 #5', 'chrome'],
 ['로그 #6', 'chrome'],
 ['로그 #7', 'chrome'],
 ['로그 #8', 'chrome'],
 ['로그 #9', 'chrome'],
 ['로그 #10', 'chrome']]

In [8]:
# 엑셀에서 파이썬 함수 호출도 가능함

In [9]:
.value

SyntaxError: invalid syntax (<ipython-input-9-6b84d36d0254>, line 1)

첫번째 줄이 컬럼 

두번째 줄부터 데이터

In [8]:
total_rows = xlwings.Range("A1").expand().value
total_rows # 첫번째 줄이 컬럼명 / 두 번째 줄부터가 실제 데이터

[['message', 'browser'],
 ['첫 로그', 'chrome'],
 ['두 번째 로그', 'chrome'],
 ['세 번째 로그', 'chrome'],
 ['로그 #4', 'chrome'],
 ['로그 #5', 'chrome'],
 ['로그 #6', 'chrome'],
 ['로그 #7', 'chrome'],
 ['로그 #8', 'chrome'],
 ['로그 #9', 'chrome'],
 ['로그 #10', 'chrome']]

리스트는 각각의 값들을 구분할 수 있는 식별자가 인덱스

In [11]:
# 리스트를 사전으로 형변환 하기

In [9]:
column_names = total_rows[0]
column_names #

['message', 'browser']

In [10]:
total_rows[1:] # 다수의 컬럼에 대한 데이터가 중첩되어 있음

[['첫 로그', 'chrome'],
 ['두 번째 로그', 'chrome'],
 ['세 번째 로그', 'chrome'],
 ['로그 #4', 'chrome'],
 ['로그 #5', 'chrome'],
 ['로그 #6', 'chrome'],
 ['로그 #7', 'chrome'],
 ['로그 #8', 'chrome'],
 ['로그 #9', 'chrome'],
 ['로그 #10', 'chrome']]

zip(column_names, row) 
# 이렇게 한 다음에, 바로 dict으로 변경하려고 
dict(zip(column_names, row))

In [14]:
for row in total_rows[1:]:
    row_dict = dict(zip(column_names, row))
    print(row_dict)
    
    # for 루프 안에서 바로 insert 쿼리를 사용할 수 있지만, 
    # 이미 만들어진 데이터를 넣어주는 것들과 분리하는 것이 중요 
    # 섞여버리면 꼬이고꼬여서 스파게티 코드가 됨 
    
# 최대한 분리를 해주는 것이 중요

{'message': '첫 로그', 'browser': 'chrome'}
{'message': '두 번째 로그', 'browser': 'chrome'}
{'message': '세 번째 로그', 'browser': 'chrome'}
{'message': '로그 #4', 'browser': 'chrome'}
{'message': '로그 #5', 'browser': 'chrome'}
{'message': '로그 #6', 'browser': 'chrome'}
{'message': '로그 #7', 'browser': 'chrome'}
{'message': '로그 #8', 'browser': 'chrome'}
{'message': '로그 #9', 'browser': 'chrome'}
{'message': '로그 #10', 'browser': 'chrome'}

In [15]:
# 리스트 컴프리헨션 버젼 
[
    dict(zip(column_names, row))
  for row in total_rows[1:] 
] 
# 새로운 리스트 순회를 돌면서,
# 새로운 리스트를 만들고,
# 새로운 리스트에 append 할 대상을 for 앞에 넣어주면 됨

[{'message': '첫 로그', 'browser': 'chrome'},
 {'message': '두 번째 로그', 'browser': 'chrome'},
 {'message': '세 번째 로그', 'browser': 'chrome'},
 {'message': '로그 #4', 'browser': 'chrome'},
 {'message': '로그 #5', 'browser': 'chrome'},
 {'message': '로그 #6', 'browser': 'chrome'},
 {'message': '로그 #7', 'browser': 'chrome'},
 {'message': '로그 #8', 'browser': 'chrome'},
 {'message': '로그 #9', 'browser': 'chrome'},
 {'message': '로그 #10', 'browser': 'chrome'}]

In [11]:
rows_data = [
    dict(zip(column_names, row))
    for row in total_rows[1:] 
]

rows_data

[{'message': '첫 로그', 'browser': 'chrome'},
 {'message': '두 번째 로그', 'browser': 'chrome'},
 {'message': '세 번째 로그', 'browser': 'chrome'},
 {'message': '로그 #4', 'browser': 'chrome'},
 {'message': '로그 #5', 'browser': 'chrome'},
 {'message': '로그 #6', 'browser': 'chrome'},
 {'message': '로그 #7', 'browser': 'chrome'},
 {'message': '로그 #8', 'browser': 'chrome'},
 {'message': '로그 #9', 'browser': 'chrome'},
 {'message': '로그 #10', 'browser': 'chrome'}]

# 정리

In [12]:
def get_rows_data():
    total_rows = xlwings.Range("A1").expand().value
    column_names = total_rows[0]
    rows_data = [
        dict(zip(column_names, row))
        for row in total_rows[1:]
    ]
    return rows_data

get_rows_data()

[{'message': '첫 로그', 'browser': 'chrome'},
 {'message': '두 번째 로그', 'browser': 'chrome'},
 {'message': '세 번째 로그', 'browser': 'chrome'},
 {'message': '로그 #4', 'browser': 'chrome'},
 {'message': '로그 #5', 'browser': 'chrome'},
 {'message': '로그 #6', 'browser': 'chrome'},
 {'message': '로그 #7', 'browser': 'chrome'},
 {'message': '로그 #8', 'browser': 'chrome'},
 {'message': '로그 #9', 'browser': 'chrome'},
 {'message': '로그 #10', 'browser': 'chrome'}]

In [13]:
DATABASE = {
    "host" : "127.0.0.1",
    "user" : "root",
    "password" : "1234",
    "db" : "myproj11_db",
    "charset" : "utf8"
}

In [14]:
import pymysql

In [15]:
connection = pymysql.connect(**DATABASE)
cursor = connection.cursor()
cursor.execute("SELECT * FROM log;")
print(cursor.fetchall())
cursor.close()

()

# with 절 적용

In [27]:
from contextlib import contextmanager
import pymysql


@contextmanager #장식자
def db_cursor():
    connection = pymysql.connect(**DATABASE)
    cursor = connection.cursor()
    try:
        yield cursor
    finally:
        cursor.close()
    
# 이렇게 db_cursor를 with 절로 사용 가능

In [28]:
with db_cursor() as cursor:
    cursor.execute("SELECT * FROM log")
    print(cursor.fetchall())
    
    # db접근때는 with를 씀!

((4, '첫 로그', 'chrome'),)

In [18]:
get_rows_data()

[{'message': '첫 로그', 'browser': 'chrome'},
 {'message': '두 번째 로그', 'browser': 'chrome'},
 {'message': '세 번째 로그', 'browser': 'chrome'},
 {'message': '로그 #4', 'browser': 'chrome'},
 {'message': '로그 #5', 'browser': 'chrome'},
 {'message': '로그 #6', 'browser': 'chrome'},
 {'message': '로그 #7', 'browser': 'chrome'},
 {'message': '로그 #8', 'browser': 'chrome'},
 {'message': '로그 #9', 'browser': 'chrome'},
 {'message': '로그 #10', 'browser': 'chrome'}]

In [19]:
# Header

명령 모드에서 M 누르면 마크다운으로 변경됨

In [25]:
column_data = {'message': '첫 로그' , 'browser':'chrome'}

with db_cursor() as cursor: # VALU
    sql = 'INSERT INTO LOG(message,browser) VALUES(%s,%s)'
    cursor.execute(sql, ["첫 로그", "chrome"])
    cursor.commit()

AttributeError: 'Cursor' object has no attribute 'commit'

In [24]:
get_rows_data()

[{'message': '첫 로그', 'browser': 'chrome'},
 {'message': '두 번째 로그', 'browser': 'chrome'},
 {'message': '세 번째 로그', 'browser': 'chrome'},
 {'message': '로그 #4', 'browser': 'chrome'},
 {'message': '로그 #5', 'browser': 'chrome'},
 {'message': '로그 #6', 'browser': 'chrome'},
 {'message': '로그 #7', 'browser': 'chrome'},
 {'message': '로그 #8', 'browser': 'chrome'},
 {'message': '로그 #9', 'browser': 'chrome'},
 {'message': '로그 #10', 'browser': 'chrome'}]

- 우리가 sql문자열을 직접 조합하면 X 
- 조합하게 되면? 보안 실수를 범하게 되는 코드가 됨

In [ ]:
    # 영역에 값을 지정해주는 것은 우리가 해주는 게 아니라 라이브러리에서자동으로 하게 하는 것

In [ ]:
with db_cursor() as cursor: # VALU
    for row_dict in get_rows_data():
        sql = 'INSERT INTO LOG(message,browser) VALUES(%(message)s,%(browser)s)'
        cursor.execute(sql, ["첫 로그", "chrome"])

# insert

In [29]:
column_data = {'message': '첫 로그', 'browser': 'chrome'}

with db_cursor() as cursor:
    for row_dict in get_rows_data():
        sql = "INSERT INTO LOG(message, browser) VALUES(%(message)s, %(browser)s)"
        cursor.execute(sql, row_dict)

# select

##버전1

In [32]:
with db_cursor() as cursor:
    sql = "SELECT * FROM LOG"
    cursor.execute(sql)
    while True:
        row = cursor.fetchone()
        if row is None:
            break
        print(row)

(4, '첫 로그', 'chrome')
(15, '두번째 로그', 'chrome')

##버전2 -> 보통 이 버전으로 써야 훨씬 값을 자연스럽게 가져올 수 있음

In [33]:
with db_cursor() as cursor:
    sql = "SELECT * FROM LOG"
    cursor.execute(sql)
    for row in cursor:
        print(row)

(4, '첫 로그', 'chrome')
(15, '두번째 로그', 'chrome')

In [ ]:
##id 찾기

In [36]:
with db_cursor() as cursor:
    sql = "SELECT * FROM LOG WHERE id = 4"
    cursor.execute(sql)
    for row in cursor:
        print(row)

(4, '첫 로그', 'chrome')

In [37]:
with db_cursor() as cursor:
    log_id = 4 #위에서는 쿼리로 불러왔던 것을 변수로 지정하기 
    sql = "SELECT * FROM LOG WHERE id = " + str(log_id)
    cursor.execute(sql)
    for row in cursor:
        print(row)

(4, '첫 로그', 'chrome')

In [ ]:
# 원래는 sql에 직접 숫자를 넣었는데,
# '1 or 1'  앞 조건이 참이거나, 뒤에 조건이 참이면 참! 
# 그럼 1 or 1 -> 앞에서 부합이 안되도, 뒤에도 1이니까 걍 참으로 나옴
# 그러면 있는 데이터가 모두 출력될 것 
# 이렇게 되면 안되는 거임! 그럼 어떻게 해야할까 ?

with db_cursor() as cursor:
    log_id = '1 or 1' 
    sql = "SELECT * FROM LOG WHERE id = 1" + str(log_id)
    sql = ""
    cursor.execute(sql)
    for row in cursor:
        print(row)

# SQL Injection 공격의 예

In [40]:
with db_cursor() as cursor:
    log_id = '1 or 1' 
    sql = "SELECT * FROM LOG WHERE id = %s" # %s 값을 넣을 공간만 확보
    cursor.execute(sql, [log_id]) # 인자만 순서대로 지정해주면 됨 
    for row in cursor:
        print(row)
        
# 이렇게하면 출력이 없음!! 
# SQL Injection SQL 삽입공격

# 데이터 맵핑의 예

In [46]:
with db_cursor() as cursor:
    cursor.execute("SELECT * FROM log")
    rows_data = cursor.fetchall() # 이 자체가 전체의 데이터가 됨
    for row in cursor:
        # row[0] # id
        # row[1] # message
        # row[2] # chrome
        print(row)
rows_data

((4, '첫 로그', 'chrome'),
 (15, '두번째 로그', 'chrome'),
 (16, '첫 로그', 'chrome'),
 (17, '두번째 로그', 'chrome'),
 (18, '세번째 로그', 'chrome'),
 (19, '네번째 로그', 'chrome'))

In [47]:
# 매번 인덱스로 불러오기에는 번거롭고 어려움! 

# 그래서 사전으로 변경해서 하는 방법도 있음

# Dict으로의 변환

# namedtuple

In [48]:
rows_data

((4, '첫 로그', 'chrome'),
 (15, '두번째 로그', 'chrome'),
 (16, '첫 로그', 'chrome'),
 (17, '두번째 로그', 'chrome'),
 (18, '세번째 로그', 'chrome'),
 (19, '네번째 로그', 'chrome'))

In [49]:
# 지금 rows_data -> 인덱스로 불러내는 것이 번거로움(컬럼의 갯수가 많아질 수록 더! )

In [52]:
from collections import namedtuple

Log = namedtuple('Log','id message browser') # 인자가 딱 두개
# 'id message browser' : 이렇게 한 문자열로 들어가는 것 
(1, 'message', 'chrome')

(1, 'message', 'chrome')

In [58]:
log = Log(1, 'message', 'chrome')
print(log[0])
print(log[1])
print(log[2])
# 튜플이라서 이렇게 밖에 못씀 !

1
message
chrome

In [59]:
# id, message, browser

In [61]:
log.id, log.message, log.browser
# 순서대로 되어있음
# 각각 순서에 맞춰서 이름을 부여할 수 있음
# 하나의 데이터로 표현하는 데에 가장 심플한 형태가 튜플
# 여기에 각각의 이름을 부여하는 것이 namedtuple
# 그러면 이제 인덱스에 기반해서 값에 접근할 필요가 없어져서 가독성 올라감

(1, 'message', 'chrome')

In [63]:
with db_cursor() as cursor:
    cursor.execute("SELECT * FROM log")
    rows_data = [
        Log(*row)
        for row in cursor.fetchall()]
    # 이 자체가 전체의 데이터가 됨
rows_data

[Log(id=4, message='첫 로그', browser='chrome'),
 Log(id=15, message='두번째 로그', browser='chrome'),
 Log(id=16, message='첫 로그', browser='chrome'),
 Log(id=17, message='두번째 로그', browser='chrome'),
 Log(id=18, message='세번째 로그', browser='chrome'),
 Log(id=19, message='네번째 로그', browser='chrome')]

In [ ]:
# 필드에 맵핑해서 사용 !

In [64]:
def reload_data(self):
    rows_data = [
        (post.title, post.content)
        for post in Post.object
    ]

In [ ]:
Class post(modles.Model):
    title = models.CharField(max_lenght=100)
    content = models.TextField()
    class Meta:
        app_label = get_app_lable()
        db_table = 'app1_post' #테이블명

In [ ]:
pip install "django~=3.2.0"
django-admin --version
django-admin startproject mydjango11
cd mydjango11
python manage.py runserver

# 웹브라우저로 http://localhost:8000/ 접속
python manage.py migrate # DB테이블 생성