In [1]:
3+2

5

Shift + Enter  -> 실행

pip install xlwings (명령 프롬포트에서 )

In [2]:
import xlwings

In [3]:
xlwings.sheets

Sheets([<Sheet [통합 문서1]Sheet1>])

In [7]:
xlwings.Range("A1").expand().value

[['message', 'browser'],
 ['첫 로그', 'chrome'],
 ['두 번째 로그', 'chrome'],
 ['세 번째 로그', 'chrome'],
 ['로그 #4', 'chrome'],
 ['로그 #5', 'chrome'],
 ['로그 #6', 'chrome'],
 ['로그 #7', 'chrome'],
 ['로그 #8', 'chrome'],
 ['로그 #9', 'chrome'],
 ['로그 #10', 'chrome']]

In [8]:
# 엑셀에서 파이썬 함수 호출도 가능함

In [ ]:
.value

첫번째 줄이 컬럼 

두번째 줄부터 데이터

In [10]:
total_rows = xlwings.Range("A1").expand().value
total_rows # 첫번째 줄이 컬럼명 / 두 번째 줄부터가 실제 데이터

[['message', 'browser'],
 ['첫 로그', 'chrome'],
 ['두 번째 로그', 'chrome'],
 ['세 번째 로그', 'chrome'],
 ['로그 #4', 'chrome'],
 ['로그 #5', 'chrome'],
 ['로그 #6', 'chrome'],
 ['로그 #7', 'chrome'],
 ['로그 #8', 'chrome'],
 ['로그 #9', 'chrome'],
 ['로그 #10', 'chrome']]

리스트는 각각의 값들을 구분할 수 있는 식별자가 인덱스

In [11]:
# 리스트를 사전으로 형변환 하기

In [13]:
column_names = total_rows[0]
column_names #

['message', 'browser']

In [15]:
total_rows[1:] # 다수의 컬럼에 대한 데이터가 중첩되어 있음

[['첫 로그', 'chrome'],
 ['두 번째 로그', 'chrome'],
 ['세 번째 로그', 'chrome'],
 ['로그 #4', 'chrome'],
 ['로그 #5', 'chrome'],
 ['로그 #6', 'chrome'],
 ['로그 #7', 'chrome'],
 ['로그 #8', 'chrome'],
 ['로그 #9', 'chrome'],
 ['로그 #10', 'chrome']]

In [20]:
zip(column_names, row) 
# 이렇게 한 다음에, 바로 dict으로 변경하려고 
dict(zip(column_names, row))

{'message': '로그 #10', 'browser': 'chrome'}

In [18]:
for row in total_rows[1:]:
    row_dict = dict(zip(column_names, row))
    print(row_dict)
    
    # for 루프 안에서 바로 insert 쿼리를 사용할 수 있지만, 
    # 이미 만들어진 데이터를 넣어주는 것들과 분리하는 것이 중요 
    # 섞여버리면 꼬이고꼬여서 스파게티 코드가 됨 
    
# 최대한 분리를 해주는 것이 중요

{'message': '첫 로그', 'browser': 'chrome'}
{'message': '두 번째 로그', 'browser': 'chrome'}
{'message': '세 번째 로그', 'browser': 'chrome'}
{'message': '로그 #4', 'browser': 'chrome'}
{'message': '로그 #5', 'browser': 'chrome'}
{'message': '로그 #6', 'browser': 'chrome'}
{'message': '로그 #7', 'browser': 'chrome'}
{'message': '로그 #8', 'browser': 'chrome'}
{'message': '로그 #9', 'browser': 'chrome'}
{'message': '로그 #10', 'browser': 'chrome'}

In [22]:
# 리스트 컴프리헨션 버젼 
[
    dict(zip(column_names, row))
  for row in total_rows[1:] 
] 
# 새로운 리스트 순회를 돌면서,
# 새로운 리스트를 만들고,
# 새로운 리스트에 append 할 대상을 for 앞에 넣어주면 됨

[{'message': '첫 로그', 'browser': 'chrome'},
 {'message': '두 번째 로그', 'browser': 'chrome'},
 {'message': '세 번째 로그', 'browser': 'chrome'},
 {'message': '로그 #4', 'browser': 'chrome'},
 {'message': '로그 #5', 'browser': 'chrome'},
 {'message': '로그 #6', 'browser': 'chrome'},
 {'message': '로그 #7', 'browser': 'chrome'},
 {'message': '로그 #8', 'browser': 'chrome'},
 {'message': '로그 #9', 'browser': 'chrome'},
 {'message': '로그 #10', 'browser': 'chrome'}]

In [23]:
rows_data = [
    dict(zip(column_names, row))
    for row in total_rows[1:] 
]

rows_data

[{'message': '첫 로그', 'browser': 'chrome'},
 {'message': '두 번째 로그', 'browser': 'chrome'},
 {'message': '세 번째 로그', 'browser': 'chrome'},
 {'message': '로그 #4', 'browser': 'chrome'},
 {'message': '로그 #5', 'browser': 'chrome'},
 {'message': '로그 #6', 'browser': 'chrome'},
 {'message': '로그 #7', 'browser': 'chrome'},
 {'message': '로그 #8', 'browser': 'chrome'},
 {'message': '로그 #9', 'browser': 'chrome'},
 {'message': '로그 #10', 'browser': 'chrome'}]

# 정리

In [39]:
def get_rows_data():

    total_rows = xlwings.Range("A1").expand().value
    column_names = total_rows[0]
    rows_data = [
        dict(zip(dict(column_names, row))
        for row in total_rows[1:]]
        return rows_data

rows_data()

SyntaxError: closing parenthesis ']' does not match opening parenthesis '(' on line 6 (<ipython-input-39-c63fdae48b94>, line 7)

In [36]:
DATABASE = {
    "host" : "127.0.0.1",
    "user" : "root",
    "password" : "1234",
    "db" : "myproj11_db",
    "charset" : "utf8"
}

In [37]:
import pymysql

In [38]:
connection = pymysql.connect(**DATABASE)
cursor = connection.cursor()
cursor.execute("SELECT * FROM log;")
print(cursor.fetchall())
cursor.close()

()