# 장고 환경로딩

In [1]:
import os
os.environ["DJANGO_SETTINGS_MODULE"] = "mydjango13.settings"
os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = "true"

import django
django.setup()

In [2]:
from mall.models import Shop

In [3]:
Shop.objects.all() # 어떤 쿼리가 실행 되는지 좀 더 직관적으로 알 수 있음

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 21; args=()

<QuerySet [<Shop: Shop object (104)>, <Shop: Shop object (103)>, <Shop: Shop object (102)>, <Shop: Shop object (101)>, <Shop: Shop object (100)>, <Shop: Shop object (99)>, <Shop: Shop object (98)>, <Shop: Shop object (97)>, <Shop: Shop object (96)>, <Shop: Shop object (95)>, <Shop: Shop object (94)>, <Shop: Shop object (93)>, <Shop: Shop object (92)>, <Shop: Shop object (91)>, <Shop: Shop object (90)>, <Shop: Shop object (89)>, <Shop: Shop object (88)>, <Shop: Shop object (87)>, <Shop: Shop object (86)>, <Shop: Shop object (85)>, '...(remaining elements truncated)...']>

In [4]:
# 주피터 노트북 사용시, 처음부터 순차적으로 실행되어야 함 .
Shop

mall.models.Shop

# create

In [5]:
shop = Shop()
# Shop -> class명 . class명은 보통 첫글자가 대문자임 
# FirstShop(O) , first_shop(X) , firstShop(X) , first_Shop(X)

shop.name = "투썸플레이스"
shop.telephone = "042-1234-1234"

In [6]:
shop.save()

(0.031) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('투썸플레이스', '', '042-1234-1234', '', '2021-12-01 06:48:29.437787', '2021-12-01 06:48:29.437787'); args=['투썸플레이스', '', '042-1234-1234', '', '2021-12-01 06:48:29.437787', '2021-12-01 06:48:29.437787']

In [7]:
shop = Shop.objects.create(
    name="셀프24시빨래방",
    telephone="010-1234-4321",
)
shop

(0.046) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('셀프24시빨래방', '', '010-1234-4321', '', '2021-12-01 06:48:29.760364', '2021-12-01 06:48:29.760364'); args=['셀프24시빨래방', '', '010-1234-4321', '', '2021-12-01 06:48:29.760364', '2021-12-01 06:48:29.760364']

# Select

In [8]:
qs = Shop.objects.all() # 이렇게 가져오면 데이터 정렬이 안됨

In [9]:
for shop in qs:
    print(shop.pk, shop.name, shop.telephone)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC; args=()

106 셀프24시빨래방 010-1234-4321
105 투썸플레이스 042-1234-1234
104 가게명#100 042-1234-9100
103 가게명#99 042-1234-9099
102 가게명#98 042-1234-9098
101 가게명#97 042-1234-9097
100 가게명#96 042-1234-9096
99 가게명#95 042-1234-9095
98 가게명#94 042-1234-9094
97 가게명#93 042-1234-9093
96 가게명#92 042-1234-9092
95 가게명#91 042-1234-9091
94 가게명#90 042-1234-9090
93 가게명#89 042-1234-9089
92 가게명#88 042-1234-9088
91 가게명#87 042-1234-9087
90 가게명#86 042-1234-9086
89 가게명#85 042-1234-9085
88 가게명#84 042-1234-9084
87 가게명#83 042-1234-9083
86 가게명#82 042-1234-9082
85 가게명#81 042-1234-9081
84 가게명#80 042-1234-9080
83 가게명#79 042-1234-9079
82 가게명#78 042-1234-9078
81 가게명#77 042-1234-9077
80 가게명#76 042-1234-9076
79 가게명#75 042-1234-9075
78 가게명#74 042-1234-9074
77 가게명#73 042-1234-9073
76 가게명#72 042-1234-9072
75 가게명#71 042-1234-9071
74 가게명#70 042-1234-9070
73 가게명#69 042-1234-9069
72 가게명#68 042-1234-9068
71 가게명#67 042-1234-9067
70 가게명#66 042-1234-9066
69 가게명#65 042-1234-9065
68 가게명#64 042-1234-9064
67 가게명#63 042-1234-9063
66 가게명#62 042-1234-9062
65 가게명#61 042-1234-9061
64 가게명#60 042-1234-9060
63 가게명#59 042-1234-9059
62 가게명#58 042-1234-9058
61 가게명#57 042-1234-9057
60 가게명#56 042-1234-9056
59 가게명#55 042-1234-9055
58 가게명#54 042-1234-9054
57 가게명#53 042-1234-9053
56 가게명#52 042-1234-9052
55 가게명#51 042-1234-9051
54 가게명#50 042-1234-9050
53 가게명#49 042-1234-9049
52 가게명#48 042-1234-9048
51 가게명#47 042-1234-9047
50 가게명#46 042-1234-9046
49 가게명#45 042-1234-9045
48 가게명#44 042-1234-9044
47 가게명#43 042-1234-9043
46 가게명#42 042-1234-9042
45 가게명#41 042-1234-9041
44 가게명#40 042-1234-9040
43 가게명#39 042-1234-9039
42 가게명#38 042-1234-9038
41 가게명#37 042-1234-9037
40 가게명#36 042-1234-9036
39 가게명#35 042-1234-9035
38 가게명#34 042-1234-9034
37 가게명#33 042-1234-9033
36 가게명#32 042-1234-9032
35 가게명#31 042-1234-9031
34 가게명#30 042-1234-9030
33 가게명#29 042-1234-9029
32 가게명#28 042-1234-9028
31 가게명#27 042-1234-9027
30 가게명#26 042-1234-9026
29 가게명#25 042-1234-9025
28 가게명#24 042-1234-9024
27 가게명#23 042-1234-9023
26 가게명#22 042-1234-9022
25 가게명#21 042-1234-9021
24 가게명#20 042-1234-9020
23 가게명#19 042-1234-9019
22 가게명#18 042-1234-9018
21 가게명#17 042-1234-9017
20 가게명#16 042-1234-9016
19 가게명#15 042-1234-9015
18 가게명#14 042-1234-9014
17 가게명#13 042-1234-9013
16 가게명#12 042-1234-9012
15 가게명#11 042-1234-9011
14 가게명#10 042-1234-9010
13 가게명#9 042-1234-9009
12 가게명#8 042-1234-9008
11 가게명#7 042-1234-9007
10 가게명#6 042-1234-9006
9 가게명#5 042-1234-9005
8 가게명#4 042-1234-9004
7 가게명#3 042-1234-9003
6 가게명#2 042-1234-9002
5 가게명#1 042-1234-9001
4 셀프24시빨래방 010-1234-4321
3 투썸플레이스 042-1234-1234
2 셀프24시빨래방 010-1234-4321
1 투썸플레이스 042-1234-1234

In [10]:
qs.order_by("id") # id에 ASC 오름차순 정렬

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" ASC LIMIT 21; args=()

<QuerySet [<Shop: Shop object (1)>, <Shop: Shop object (2)>, <Shop: Shop object (3)>, <Shop: Shop object (4)>, <Shop: Shop object (5)>, <Shop: Shop object (6)>, <Shop: Shop object (7)>, <Shop: Shop object (8)>, <Shop: Shop object (9)>, <Shop: Shop object (10)>, <Shop: Shop object (11)>, <Shop: Shop object (12)>, <Shop: Shop object (13)>, <Shop: Shop object (14)>, <Shop: Shop object (15)>, <Shop: Shop object (16)>, <Shop: Shop object (17)>, <Shop: Shop object (18)>, <Shop: Shop object (19)>, <Shop: Shop object (20)>, '...(remaining elements truncated)...']>

In [11]:
qs.order_by("-id") # id에 DESC 내림차순 정렬

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 21; args=()

<QuerySet [<Shop: Shop object (106)>, <Shop: Shop object (105)>, <Shop: Shop object (104)>, <Shop: Shop object (103)>, <Shop: Shop object (102)>, <Shop: Shop object (101)>, <Shop: Shop object (100)>, <Shop: Shop object (99)>, <Shop: Shop object (98)>, <Shop: Shop object (97)>, <Shop: Shop object (96)>, <Shop: Shop object (95)>, <Shop: Shop object (94)>, <Shop: Shop object (93)>, <Shop: Shop object (92)>, <Shop: Shop object (91)>, <Shop: Shop object (90)>, <Shop: Shop object (89)>, <Shop: Shop object (88)>, <Shop: Shop object (87)>, '...(remaining elements truncated)...']>

In [12]:
qs.order_by("-id",'created_at')  #2차 기준값이 created_at
# 근데 일반적으로 한개의 컬럼을 기준으로만 정렬하는 것이 더 성능이 좋음
# 정렬은 가급적 단일 컬럼 기준으로 ~

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC, "mall_shop"."created_at" ASC LIMIT 21; args=()

<QuerySet [<Shop: Shop object (106)>, <Shop: Shop object (105)>, <Shop: Shop object (104)>, <Shop: Shop object (103)>, <Shop: Shop object (102)>, <Shop: Shop object (101)>, <Shop: Shop object (100)>, <Shop: Shop object (99)>, <Shop: Shop object (98)>, <Shop: Shop object (97)>, <Shop: Shop object (96)>, <Shop: Shop object (95)>, <Shop: Shop object (94)>, <Shop: Shop object (93)>, <Shop: Shop object (92)>, <Shop: Shop object (91)>, <Shop: Shop object (90)>, <Shop: Shop object (89)>, <Shop: Shop object (88)>, <Shop: Shop object (87)>, '...(remaining elements truncated)...']>

In [ ]:
# 정렬을 쓰면 뭐가 좋낭?

# Delete Rows

In [ ]:
# qs = Shop.objects.all()

In [ ]:
# qs.delete()
#근데 전체삭제는 위험해 ~ 항상 조심

# 데이터 뻥튀기

In [13]:
for i in range(1,101):
    name = f"가게명#{i}"
    telephone = f"042-1234-9{i:03}"# 3자리를 확보해서 쓰겠고, 빈자리를 0으로 채우겠다.
    print(name, telephone)
    Shop.objects.create(
        name=name,
        telephone=telephone,)

가게명#1 042-1234-9001

(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#1', '', '042-1234-9001', '', '2021-12-01 06:48:38.585344', '2021-12-01 06:48:38.585344'); args=['가게명#1', '', '042-1234-9001', '', '2021-12-01 06:48:38.585344', '2021-12-01 06:48:38.585344']

가게명#2 042-1234-9002

(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#2', '', '042-1234-9002', '', '2021-12-01 06:48:38.601282', '2021-12-01 06:48:38.601282'); args=['가게명#2', '', '042-1234-9002', '', '2021-12-01 06:48:38.601282', '2021-12-01 06:48:38.601282']

가게명#3 042-1234-9003

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#3', '', '042-1234-9003', '', '2021-12-01 06:48:38.608263', '2021-12-01 06:48:38.608263'); args=['가게명#3', '', '042-1234-9003', '', '2021-12-01 06:48:38.608263', '2021-12-01 06:48:38.608263']

가게명#4 042-1234-9004

(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#4', '', '042-1234-9004', '', '2021-12-01 06:48:38.617240', '2021-12-01 06:48:38.617240'); args=['가게명#4', '', '042-1234-9004', '', '2021-12-01 06:48:38.617240', '2021-12-01 06:48:38.617240']

가게명#5 042-1234-9005

(0.031) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#5', '', '042-1234-9005', '', '2021-12-01 06:48:38.626265', '2021-12-01 06:48:38.626265'); args=['가게명#5', '', '042-1234-9005', '', '2021-12-01 06:48:38.626265', '2021-12-01 06:48:38.626265']

가게명#6 042-1234-9006

(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#6', '', '042-1234-9006', '', '2021-12-01 06:48:38.654289', '2021-12-01 06:48:38.654289'); args=['가게명#6', '', '042-1234-9006', '', '2021-12-01 06:48:38.654289', '2021-12-01 06:48:38.654289']

가게명#7 042-1234-9007

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#7', '', '042-1234-9007', '', '2021-12-01 06:48:38.683266', '2021-12-01 06:48:38.683266'); args=['가게명#7', '', '042-1234-9007', '', '2021-12-01 06:48:38.683266', '2021-12-01 06:48:38.683266']

가게명#8 042-1234-9008

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#8', '', '042-1234-9008', '', '2021-12-01 06:48:38.690248', '2021-12-01 06:48:38.690248'); args=['가게명#8', '', '042-1234-9008', '', '2021-12-01 06:48:38.690248', '2021-12-01 06:48:38.690248']

가게명#9 042-1234-9009

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#9', '', '042-1234-9009', '', '2021-12-01 06:48:38.703214', '2021-12-01 06:48:38.703214'); args=['가게명#9', '', '042-1234-9009', '', '2021-12-01 06:48:38.703214', '2021-12-01 06:48:38.703214']

가게명#10 042-1234-9010

(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#10', '', '042-1234-9010', '', '2021-12-01 06:48:38.713185', '2021-12-01 06:48:38.713185'); args=['가게명#10', '', '042-1234-9010', '', '2021-12-01 06:48:38.713185', '2021-12-01 06:48:38.713185']

가게명#11 042-1234-9011

(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#11', '', '042-1234-9011', '', '2021-12-01 06:48:38.722162', '2021-12-01 06:48:38.722162'); args=['가게명#11', '', '042-1234-9011', '', '2021-12-01 06:48:38.722162', '2021-12-01 06:48:38.722162']

가게명#12 042-1234-9012

(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#12', '', '042-1234-9012', '', '2021-12-01 06:48:38.744106', '2021-12-01 06:48:38.744106'); args=['가게명#12', '', '042-1234-9012', '', '2021-12-01 06:48:38.744106', '2021-12-01 06:48:38.744106']

가게명#13 042-1234-9013

(0.031) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#13', '', '042-1234-9013', '', '2021-12-01 06:48:38.755073', '2021-12-01 06:48:38.755073'); args=['가게명#13', '', '042-1234-9013', '', '2021-12-01 06:48:38.755073', '2021-12-01 06:48:38.755073']

가게명#14 042-1234-9014

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#14', '', '042-1234-9014', '', '2021-12-01 06:48:38.783287', '2021-12-01 06:48:38.783287'); args=['가게명#14', '', '042-1234-9014', '', '2021-12-01 06:48:38.783287', '2021-12-01 06:48:38.783287']

가게명#15 042-1234-9015

(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#15', '', '042-1234-9015', '', '2021-12-01 06:48:38.791264', '2021-12-01 06:48:38.791264'); args=['가게명#15', '', '042-1234-9015', '', '2021-12-01 06:48:38.791264', '2021-12-01 06:48:38.791264']

가게명#16 042-1234-9016

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#16', '', '042-1234-9016', '', '2021-12-01 06:48:38.799249', '2021-12-01 06:48:38.799249'); args=['가게명#16', '', '042-1234-9016', '', '2021-12-01 06:48:38.799249', '2021-12-01 06:48:38.799249']

가게명#17 042-1234-9017

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#17', '', '042-1234-9017', '', '2021-12-01 06:48:38.808220', '2021-12-01 06:48:38.808220'); args=['가게명#17', '', '042-1234-9017', '', '2021-12-01 06:48:38.808220', '2021-12-01 06:48:38.808220']

가게명#18 042-1234-9018

(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#18', '', '042-1234-9018', '', '2021-12-01 06:48:38.817196', '2021-12-01 06:48:38.817196'); args=['가게명#18', '', '042-1234-9018', '', '2021-12-01 06:48:38.817196', '2021-12-01 06:48:38.817196']

가게명#19 042-1234-9019

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#19', '', '042-1234-9019', '', '2021-12-01 06:48:38.830201', '2021-12-01 06:48:38.830201'); args=['가게명#19', '', '042-1234-9019', '', '2021-12-01 06:48:38.830201', '2021-12-01 06:48:38.830201']

가게명#20 042-1234-9020

(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#20', '', '042-1234-9020', '', '2021-12-01 06:48:38.838181', '2021-12-01 06:48:38.838181'); args=['가게명#20', '', '042-1234-9020', '', '2021-12-01 06:48:38.838181', '2021-12-01 06:48:38.838181']

가게명#21 042-1234-9021

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#21', '', '042-1234-9021', '', '2021-12-01 06:48:38.847154', '2021-12-01 06:48:38.847154'); args=['가게명#21', '', '042-1234-9021', '', '2021-12-01 06:48:38.847154', '2021-12-01 06:48:38.847154']

가게명#22 042-1234-9022

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#22', '', '042-1234-9022', '', '2021-12-01 06:48:38.856129', '2021-12-01 06:48:38.856129'); args=['가게명#22', '', '042-1234-9022', '', '2021-12-01 06:48:38.856129', '2021-12-01 06:48:38.856129']

가게명#23 042-1234-9023

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#23', '', '042-1234-9023', '', '2021-12-01 06:48:38.865107', '2021-12-01 06:48:38.865107'); args=['가게명#23', '', '042-1234-9023', '', '2021-12-01 06:48:38.865107', '2021-12-01 06:48:38.865107']

가게명#24 042-1234-9024

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#24', '', '042-1234-9024', '', '2021-12-01 06:48:38.872088', '2021-12-01 06:48:38.872088'); args=['가게명#24', '', '042-1234-9024', '', '2021-12-01 06:48:38.872088', '2021-12-01 06:48:38.872088']

가게명#25 042-1234-9025

(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#25', '', '042-1234-9025', '', '2021-12-01 06:48:38.881080', '2021-12-01 06:48:38.882062'); args=['가게명#25', '', '042-1234-9025', '', '2021-12-01 06:48:38.881080', '2021-12-01 06:48:38.882062']

가게명#26 042-1234-9026

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#26', '', '042-1234-9026', '', '2021-12-01 06:48:38.889042', '2021-12-01 06:48:38.889042'); args=['가게명#26', '', '042-1234-9026', '', '2021-12-01 06:48:38.889042', '2021-12-01 06:48:38.889042']

가게명#27 042-1234-9027

(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#27', '', '042-1234-9027', '', '2021-12-01 06:48:38.897021', '2021-12-01 06:48:38.897021'); args=['가게명#27', '', '042-1234-9027', '', '2021-12-01 06:48:38.897021', '2021-12-01 06:48:38.897021']

가게명#28 042-1234-9028

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#28', '', '042-1234-9028', '', '2021-12-01 06:48:38.904001', '2021-12-01 06:48:38.904001'); args=['가게명#28', '', '042-1234-9028', '', '2021-12-01 06:48:38.904001', '2021-12-01 06:48:38.904001']

가게명#29 042-1234-9029

(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#29', '', '042-1234-9029', '', '2021-12-01 06:48:38.912980', '2021-12-01 06:48:38.912980'); args=['가게명#29', '', '042-1234-9029', '', '2021-12-01 06:48:38.912980', '2021-12-01 06:48:38.912980']

가게명#30 042-1234-9030

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#30', '', '042-1234-9030', '', '2021-12-01 06:48:38.919958', '2021-12-01 06:48:38.920956'); args=['가게명#30', '', '042-1234-9030', '', '2021-12-01 06:48:38.919958', '2021-12-01 06:48:38.920956']

가게명#31 042-1234-9031

(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#31', '', '042-1234-9031', '', '2021-12-01 06:48:38.927937', '2021-12-01 06:48:38.927937'); args=['가게명#31', '', '042-1234-9031', '', '2021-12-01 06:48:38.927937', '2021-12-01 06:48:38.927937']

가게명#32 042-1234-9032

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#32', '', '042-1234-9032', '', '2021-12-01 06:48:38.936912', '2021-12-01 06:48:38.936912'); args=['가게명#32', '', '042-1234-9032', '', '2021-12-01 06:48:38.936912', '2021-12-01 06:48:38.936912']

가게명#33 042-1234-9033

(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#33', '', '042-1234-9033', '', '2021-12-01 06:48:38.944892', '2021-12-01 06:48:38.944892'); args=['가게명#33', '', '042-1234-9033', '', '2021-12-01 06:48:38.944892', '2021-12-01 06:48:38.944892']

가게명#34 042-1234-9034

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#34', '', '042-1234-9034', '', '2021-12-01 06:48:38.952202', '2021-12-01 06:48:38.953201'); args=['가게명#34', '', '042-1234-9034', '', '2021-12-01 06:48:38.952202', '2021-12-01 06:48:38.953201']

가게명#35 042-1234-9035

(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#35', '', '042-1234-9035', '', '2021-12-01 06:48:38.962176', '2021-12-01 06:48:38.962176'); args=['가게명#35', '', '042-1234-9035', '', '2021-12-01 06:48:38.962176', '2021-12-01 06:48:38.962176']

가게명#36 042-1234-9036

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#36', '', '042-1234-9036', '', '2021-12-01 06:48:38.970155', '2021-12-01 06:48:38.970155'); args=['가게명#36', '', '042-1234-9036', '', '2021-12-01 06:48:38.970155', '2021-12-01 06:48:38.970155']

가게명#37 042-1234-9037

(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#37', '', '042-1234-9037', '', '2021-12-01 06:48:38.977142', '2021-12-01 06:48:38.977142'); args=['가게명#37', '', '042-1234-9037', '', '2021-12-01 06:48:38.977142', '2021-12-01 06:48:38.977142']

가게명#38 042-1234-9038

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#38', '', '042-1234-9038', '', '2021-12-01 06:48:38.988558', '2021-12-01 06:48:38.988558'); args=['가게명#38', '', '042-1234-9038', '', '2021-12-01 06:48:38.988558', '2021-12-01 06:48:38.988558']

가게명#39 042-1234-9039

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#39', '', '042-1234-9039', '', '2021-12-01 06:48:38.997535', '2021-12-01 06:48:38.997535'); args=['가게명#39', '', '042-1234-9039', '', '2021-12-01 06:48:38.997535', '2021-12-01 06:48:38.997535']

가게명#40 042-1234-9040

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#40', '', '042-1234-9040', '', '2021-12-01 06:48:39.004516', '2021-12-01 06:48:39.004516'); args=['가게명#40', '', '042-1234-9040', '', '2021-12-01 06:48:39.004516', '2021-12-01 06:48:39.004516']

가게명#41 042-1234-9041

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#41', '', '042-1234-9041', '', '2021-12-01 06:48:39.012495', '2021-12-01 06:48:39.012495'); args=['가게명#41', '', '042-1234-9041', '', '2021-12-01 06:48:39.012495', '2021-12-01 06:48:39.012495']

가게명#42 042-1234-9042

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#42', '', '042-1234-9042', '', '2021-12-01 06:48:39.020304', '2021-12-01 06:48:39.020304'); args=['가게명#42', '', '042-1234-9042', '', '2021-12-01 06:48:39.020304', '2021-12-01 06:48:39.020304']

가게명#43 042-1234-9043

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#43', '', '042-1234-9043', '', '2021-12-01 06:48:39.029282', '2021-12-01 06:48:39.029282'); args=['가게명#43', '', '042-1234-9043', '', '2021-12-01 06:48:39.029282', '2021-12-01 06:48:39.029282']

가게명#44 042-1234-9044

(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#44', '', '042-1234-9044', '', '2021-12-01 06:48:39.036262', '2021-12-01 06:48:39.036262'); args=['가게명#44', '', '042-1234-9044', '', '2021-12-01 06:48:39.036262', '2021-12-01 06:48:39.036262']

가게명#45 042-1234-9045

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#45', '', '042-1234-9045', '', '2021-12-01 06:48:39.045239', '2021-12-01 06:48:39.045239'); args=['가게명#45', '', '042-1234-9045', '', '2021-12-01 06:48:39.045239', '2021-12-01 06:48:39.045239']

가게명#46 042-1234-9046

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#46', '', '042-1234-9046', '', '2021-12-01 06:48:39.052219', '2021-12-01 06:48:39.052219'); args=['가게명#46', '', '042-1234-9046', '', '2021-12-01 06:48:39.052219', '2021-12-01 06:48:39.052219']

가게명#47 042-1234-9047

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#47', '', '042-1234-9047', '', '2021-12-01 06:48:39.061195', '2021-12-01 06:48:39.061195'); args=['가게명#47', '', '042-1234-9047', '', '2021-12-01 06:48:39.061195', '2021-12-01 06:48:39.061195']

가게명#48 042-1234-9048

(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#48', '', '042-1234-9048', '', '2021-12-01 06:48:39.069174', '2021-12-01 06:48:39.069174'); args=['가게명#48', '', '042-1234-9048', '', '2021-12-01 06:48:39.069174', '2021-12-01 06:48:39.069174']

가게명#49 042-1234-9049

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#49', '', '042-1234-9049', '', '2021-12-01 06:48:39.081171', '2021-12-01 06:48:39.081171'); args=['가게명#49', '', '042-1234-9049', '', '2021-12-01 06:48:39.081171', '2021-12-01 06:48:39.081171']

가게명#50 042-1234-9050

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#50', '', '042-1234-9050', '', '2021-12-01 06:48:39.091139', '2021-12-01 06:48:39.091139'); args=['가게명#50', '', '042-1234-9050', '', '2021-12-01 06:48:39.091139', '2021-12-01 06:48:39.091139']

가게명#51 042-1234-9051

(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#51', '', '042-1234-9051', '', '2021-12-01 06:48:39.102110', '2021-12-01 06:48:39.102110'); args=['가게명#51', '', '042-1234-9051', '', '2021-12-01 06:48:39.102110', '2021-12-01 06:48:39.102110']

가게명#52 042-1234-9052

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#52', '', '042-1234-9052', '', '2021-12-01 06:48:39.114079', '2021-12-01 06:48:39.114079'); args=['가게명#52', '', '042-1234-9052', '', '2021-12-01 06:48:39.114079', '2021-12-01 06:48:39.114079']

가게명#53 042-1234-9053

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#53', '', '042-1234-9053', '', '2021-12-01 06:48:39.122056', '2021-12-01 06:48:39.122056'); args=['가게명#53', '', '042-1234-9053', '', '2021-12-01 06:48:39.122056', '2021-12-01 06:48:39.122056']

가게명#54 042-1234-9054

(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#54', '', '042-1234-9054', '', '2021-12-01 06:48:39.130036', '2021-12-01 06:48:39.131032'); args=['가게명#54', '', '042-1234-9054', '', '2021-12-01 06:48:39.130036', '2021-12-01 06:48:39.131032']

가게명#55 042-1234-9055

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#55', '', '042-1234-9055', '', '2021-12-01 06:48:39.140626', '2021-12-01 06:48:39.140626'); args=['가게명#55', '', '042-1234-9055', '', '2021-12-01 06:48:39.140626', '2021-12-01 06:48:39.140626']

가게명#56 042-1234-9056

(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#56', '', '042-1234-9056', '', '2021-12-01 06:48:39.149602', '2021-12-01 06:48:39.149602'); args=['가게명#56', '', '042-1234-9056', '', '2021-12-01 06:48:39.149602', '2021-12-01 06:48:39.149602']

가게명#57 042-1234-9057

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#57', '', '042-1234-9057', '', '2021-12-01 06:48:39.156085', '2021-12-01 06:48:39.156085'); args=['가게명#57', '', '042-1234-9057', '', '2021-12-01 06:48:39.156085', '2021-12-01 06:48:39.156085']

가게명#58 042-1234-9058

(0.031) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#58', '', '042-1234-9058', '', '2021-12-01 06:48:39.164063', '2021-12-01 06:48:39.164063'); args=['가게명#58', '', '042-1234-9058', '', '2021-12-01 06:48:39.164063', '2021-12-01 06:48:39.164063']

가게명#59 042-1234-9059

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#59', '', '042-1234-9059', '', '2021-12-01 06:48:39.189574', '2021-12-01 06:48:39.189574'); args=['가게명#59', '', '042-1234-9059', '', '2021-12-01 06:48:39.189574', '2021-12-01 06:48:39.189574']

가게명#60 042-1234-9060

(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#60', '', '042-1234-9060', '', '2021-12-01 06:48:39.197551', '2021-12-01 06:48:39.197551'); args=['가게명#60', '', '042-1234-9060', '', '2021-12-01 06:48:39.197551', '2021-12-01 06:48:39.197551']

가게명#61 042-1234-9061

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#61', '', '042-1234-9061', '', '2021-12-01 06:48:39.206527', '2021-12-01 06:48:39.206527'); args=['가게명#61', '', '042-1234-9061', '', '2021-12-01 06:48:39.206527', '2021-12-01 06:48:39.206527']

가게명#62 042-1234-9062

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#62', '', '042-1234-9062', '', '2021-12-01 06:48:39.215505', '2021-12-01 06:48:39.215505'); args=['가게명#62', '', '042-1234-9062', '', '2021-12-01 06:48:39.215505', '2021-12-01 06:48:39.215505']

가게명#63 042-1234-9063

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#63', '', '042-1234-9063', '', '2021-12-01 06:48:39.222484', '2021-12-01 06:48:39.222484'); args=['가게명#63', '', '042-1234-9063', '', '2021-12-01 06:48:39.222484', '2021-12-01 06:48:39.222484']

가게명#64 042-1234-9064

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#64', '', '042-1234-9064', '', '2021-12-01 06:48:39.230464', '2021-12-01 06:48:39.230464'); args=['가게명#64', '', '042-1234-9064', '', '2021-12-01 06:48:39.230464', '2021-12-01 06:48:39.230464']

가게명#65 042-1234-9065

(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#65', '', '042-1234-9065', '', '2021-12-01 06:48:39.240436', '2021-12-01 06:48:39.240436'); args=['가게명#65', '', '042-1234-9065', '', '2021-12-01 06:48:39.240436', '2021-12-01 06:48:39.240436']

가게명#66 042-1234-9066

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#66', '', '042-1234-9066', '', '2021-12-01 06:48:39.247417', '2021-12-01 06:48:39.247417'); args=['가게명#66', '', '042-1234-9066', '', '2021-12-01 06:48:39.247417', '2021-12-01 06:48:39.247417']

가게명#67 042-1234-9067

(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#67', '', '042-1234-9067', '', '2021-12-01 06:48:39.256393', '2021-12-01 06:48:39.256393'); args=['가게명#67', '', '042-1234-9067', '', '2021-12-01 06:48:39.256393', '2021-12-01 06:48:39.256393']

가게명#68 042-1234-9068

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#68', '', '042-1234-9068', '', '2021-12-01 06:48:39.266367', '2021-12-01 06:48:39.266367'); args=['가게명#68', '', '042-1234-9068', '', '2021-12-01 06:48:39.266367', '2021-12-01 06:48:39.266367']

가게명#69 042-1234-9069

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#69', '', '042-1234-9069', '', '2021-12-01 06:48:39.278370', '2021-12-01 06:48:39.278370'); args=['가게명#69', '', '042-1234-9069', '', '2021-12-01 06:48:39.278370', '2021-12-01 06:48:39.278370']

가게명#70 042-1234-9070

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#70', '', '042-1234-9070', '', '2021-12-01 06:48:39.286349', '2021-12-01 06:48:39.286349'); args=['가게명#70', '', '042-1234-9070', '', '2021-12-01 06:48:39.286349', '2021-12-01 06:48:39.286349']

가게명#71 042-1234-9071

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#71', '', '042-1234-9071', '', '2021-12-01 06:48:39.294328', '2021-12-01 06:48:39.294328'); args=['가게명#71', '', '042-1234-9071', '', '2021-12-01 06:48:39.294328', '2021-12-01 06:48:39.294328']

가게명#72 042-1234-9072

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#72', '', '042-1234-9072', '', '2021-12-01 06:48:39.302307', '2021-12-01 06:48:39.302307'); args=['가게명#72', '', '042-1234-9072', '', '2021-12-01 06:48:39.302307', '2021-12-01 06:48:39.302307']

가게명#73 042-1234-9073

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#73', '', '042-1234-9073', '', '2021-12-01 06:48:39.310292', '2021-12-01 06:48:39.310292'); args=['가게명#73', '', '042-1234-9073', '', '2021-12-01 06:48:39.310292', '2021-12-01 06:48:39.310292']

가게명#74 042-1234-9074

(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#74', '', '042-1234-9074', '', '2021-12-01 06:48:39.318371', '2021-12-01 06:48:39.318371'); args=['가게명#74', '', '042-1234-9074', '', '2021-12-01 06:48:39.318371', '2021-12-01 06:48:39.318371']

가게명#75 042-1234-9075

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#75', '', '042-1234-9075', '', '2021-12-01 06:48:39.325612', '2021-12-01 06:48:39.325612'); args=['가게명#75', '', '042-1234-9075', '', '2021-12-01 06:48:39.325612', '2021-12-01 06:48:39.325612']

가게명#76 042-1234-9076

(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#76', '', '042-1234-9076', '', '2021-12-01 06:48:39.334587', '2021-12-01 06:48:39.334587'); args=['가게명#76', '', '042-1234-9076', '', '2021-12-01 06:48:39.334587', '2021-12-01 06:48:39.334587']

가게명#77 042-1234-9077

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#77', '', '042-1234-9077', '', '2021-12-01 06:48:39.341567', '2021-12-01 06:48:39.341567'); args=['가게명#77', '', '042-1234-9077', '', '2021-12-01 06:48:39.341567', '2021-12-01 06:48:39.341567']

가게명#78 042-1234-9078

(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#78', '', '042-1234-9078', '', '2021-12-01 06:48:39.350544', '2021-12-01 06:48:39.350544'); args=['가게명#78', '', '042-1234-9078', '', '2021-12-01 06:48:39.350544', '2021-12-01 06:48:39.350544']

가게명#79 042-1234-9079

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#79', '', '042-1234-9079', '', '2021-12-01 06:48:39.357526', '2021-12-01 06:48:39.358523'); args=['가게명#79', '', '042-1234-9079', '', '2021-12-01 06:48:39.357526', '2021-12-01 06:48:39.358523']

가게명#80 042-1234-9080

(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#80', '', '042-1234-9080', '', '2021-12-01 06:48:39.368497', '2021-12-01 06:48:39.368497'); args=['가게명#80', '', '042-1234-9080', '', '2021-12-01 06:48:39.368497', '2021-12-01 06:48:39.368497']

가게명#81 042-1234-9081

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#81', '', '042-1234-9081', '', '2021-12-01 06:48:39.375563', '2021-12-01 06:48:39.375563'); args=['가게명#81', '', '042-1234-9081', '', '2021-12-01 06:48:39.375563', '2021-12-01 06:48:39.375563']

가게명#82 042-1234-9082

(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#82', '', '042-1234-9082', '', '2021-12-01 06:48:39.383542', '2021-12-01 06:48:39.383542'); args=['가게명#82', '', '042-1234-9082', '', '2021-12-01 06:48:39.383542', '2021-12-01 06:48:39.383542']

가게명#83 042-1234-9083

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#83', '', '042-1234-9083', '', '2021-12-01 06:48:39.391520', '2021-12-01 06:48:39.391520'); args=['가게명#83', '', '042-1234-9083', '', '2021-12-01 06:48:39.391520', '2021-12-01 06:48:39.391520']

가게명#84 042-1234-9084

(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#84', '', '042-1234-9084', '', '2021-12-01 06:48:39.400497', '2021-12-01 06:48:39.400497'); args=['가게명#84', '', '042-1234-9084', '', '2021-12-01 06:48:39.400497', '2021-12-01 06:48:39.400497']

가게명#85 042-1234-9085

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#85', '', '042-1234-9085', '', '2021-12-01 06:48:39.407478', '2021-12-01 06:48:39.407478'); args=['가게명#85', '', '042-1234-9085', '', '2021-12-01 06:48:39.407478', '2021-12-01 06:48:39.407478']

가게명#86 042-1234-9086

(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#86', '', '042-1234-9086', '', '2021-12-01 06:48:39.416454', '2021-12-01 06:48:39.416454'); args=['가게명#86', '', '042-1234-9086', '', '2021-12-01 06:48:39.416454', '2021-12-01 06:48:39.416454']

가게명#87 042-1234-9087

(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#87', '', '042-1234-9087', '', '2021-12-01 06:48:39.423723', '2021-12-01 06:48:39.423723'); args=['가게명#87', '', '042-1234-9087', '', '2021-12-01 06:48:39.423723', '2021-12-01 06:48:39.423723']

가게명#88 042-1234-9088

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#88', '', '042-1234-9088', '', '2021-12-01 06:48:39.438560', '2021-12-01 06:48:39.438560'); args=['가게명#88', '', '042-1234-9088', '', '2021-12-01 06:48:39.438560', '2021-12-01 06:48:39.438560']

가게명#89 042-1234-9089

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#89', '', '042-1234-9089', '', '2021-12-01 06:48:39.448533', '2021-12-01 06:48:39.448533'); args=['가게명#89', '', '042-1234-9089', '', '2021-12-01 06:48:39.448533', '2021-12-01 06:48:39.448533']

가게명#90 042-1234-9090

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#90', '', '042-1234-9090', '', '2021-12-01 06:48:39.455514', '2021-12-01 06:48:39.455514'); args=['가게명#90', '', '042-1234-9090', '', '2021-12-01 06:48:39.455514', '2021-12-01 06:48:39.455514']

가게명#91 042-1234-9091

(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#91', '', '042-1234-9091', '', '2021-12-01 06:48:39.463494', '2021-12-01 06:48:39.463494'); args=['가게명#91', '', '042-1234-9091', '', '2021-12-01 06:48:39.463494', '2021-12-01 06:48:39.463494']

가게명#92 042-1234-9092

(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#92', '', '042-1234-9092', '', '2021-12-01 06:48:39.472472', '2021-12-01 06:48:39.472472'); args=['가게명#92', '', '042-1234-9092', '', '2021-12-01 06:48:39.472472', '2021-12-01 06:48:39.472472']

가게명#93 042-1234-9093

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#93', '', '042-1234-9093', '', '2021-12-01 06:48:39.484448', '2021-12-01 06:48:39.484448'); args=['가게명#93', '', '042-1234-9093', '', '2021-12-01 06:48:39.484448', '2021-12-01 06:48:39.484448']

가게명#94 042-1234-9094

(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#94', '', '042-1234-9094', '', '2021-12-01 06:48:39.492416', '2021-12-01 06:48:39.492416'); args=['가게명#94', '', '042-1234-9094', '', '2021-12-01 06:48:39.492416', '2021-12-01 06:48:39.492416']

가게명#95 042-1234-9095

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#95', '', '042-1234-9095', '', '2021-12-01 06:48:39.503388', '2021-12-01 06:48:39.503388'); args=['가게명#95', '', '042-1234-9095', '', '2021-12-01 06:48:39.503388', '2021-12-01 06:48:39.503388']

가게명#96 042-1234-9096

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#96', '', '042-1234-9096', '', '2021-12-01 06:48:39.511398', '2021-12-01 06:48:39.512394'); args=['가게명#96', '', '042-1234-9096', '', '2021-12-01 06:48:39.511398', '2021-12-01 06:48:39.512394']

가게명#97 042-1234-9097

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#97', '', '042-1234-9097', '', '2021-12-01 06:48:39.519377', '2021-12-01 06:48:39.519377'); args=['가게명#97', '', '042-1234-9097', '', '2021-12-01 06:48:39.519377', '2021-12-01 06:48:39.519377']

가게명#98 042-1234-9098

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#98', '', '042-1234-9098', '', '2021-12-01 06:48:39.528352', '2021-12-01 06:48:39.528352'); args=['가게명#98', '', '042-1234-9098', '', '2021-12-01 06:48:39.528352', '2021-12-01 06:48:39.528352']

가게명#99 042-1234-9099

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#99', '', '042-1234-9099', '', '2021-12-01 06:48:39.536330', '2021-12-01 06:48:39.536330'); args=['가게명#99', '', '042-1234-9099', '', '2021-12-01 06:48:39.536330', '2021-12-01 06:48:39.536330']

가게명#100 042-1234-9100

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#100', '', '042-1234-9100', '', '2021-12-01 06:48:39.544308', '2021-12-01 06:48:39.544308'); args=['가게명#100', '', '042-1234-9100', '', '2021-12-01 06:48:39.544308', '2021-12-01 06:48:39.544308']

# Slicing

In [14]:
qs = Shop.objects.all()

In [15]:
qs[:10] # 0번 인덱스부터 ~ 9까지 
# first 10 rows

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 10; args=()

<QuerySet [<Shop: Shop object (206)>, <Shop: Shop object (205)>, <Shop: Shop object (204)>, <Shop: Shop object (203)>, <Shop: Shop object (202)>, <Shop: Shop object (201)>, <Shop: Shop object (200)>, <Shop: Shop object (199)>, <Shop: Shop object (198)>, <Shop: Shop object (197)>]>

In [16]:
qs[0:10:2] # 쿼리를 보면, DB에서는 10개를 가져온 셈.
# 데이터베이스에서는 건너뛰면서 몇개를 가져오겠다~ 라는 개념이 없음

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 10; args=()

[<Shop: Shop object (206)>,
 <Shop: Shop object (204)>,
 <Shop: Shop object (202)>,
 <Shop: Shop object (200)>,
 <Shop: Shop object (198)>]

In [17]:
qs[-10:] # last 10개 ? -> 이것도 파이썬만의 문법! DB는 이런 개념이 없음
# 그냥 몇번 인덱스부터 몇개~ 이정도만 있다

AssertionError: Negative indexing is not supported.

In [18]:
qs.order_by("id")[:10]

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" ASC LIMIT 10; args=()

<QuerySet [<Shop: Shop object (1)>, <Shop: Shop object (2)>, <Shop: Shop object (3)>, <Shop: Shop object (4)>, <Shop: Shop object (5)>, <Shop: Shop object (6)>, <Shop: Shop object (7)>, <Shop: Shop object (8)>, <Shop: Shop object (9)>, <Shop: Shop object (10)>]>

In [19]:
for shop in reversed(qs.order_by("id")[:10]):
    print(shop.pk, shop.name, shop.telephone)

# reversed를 통해 ~ 머 근데 이렇게 할일은 별로 없긴 함

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" ASC LIMIT 10; args=()

10 가게명#6 042-1234-9006
9 가게명#5 042-1234-9005
8 가게명#4 042-1234-9004
7 가게명#3 042-1234-9003
6 가게명#2 042-1234-9002
5 가게명#1 042-1234-9001
4 셀프24시빨래방 010-1234-4321
3 투썸플레이스 042-1234-1234
2 셀프24시빨래방 010-1234-4321
1 투썸플레이스 042-1234-1234

# Conditions 조건주기

In [20]:
qs = Shop.objects.all()

In [21]:
# filter<- > exclude  서로 반대의 성격

qs.filter(pk=1)#Where조건에서 id(primary key)가 1인것

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 1 ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(1,)

In [22]:
qs.exclude(pk=1) # WHERE NOT ("mall_shop"."id" = 1)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE NOT ("mall_shop"."id" = 1) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(1,)

<QuerySet [<Shop: Shop object (206)>, <Shop: Shop object (205)>, <Shop: Shop object (204)>, <Shop: Shop object (203)>, <Shop: Shop object (202)>, <Shop: Shop object (201)>, <Shop: Shop object (200)>, <Shop: Shop object (199)>, <Shop: Shop object (198)>, <Shop: Shop object (197)>, <Shop: Shop object (196)>, <Shop: Shop object (195)>, <Shop: Shop object (194)>, <Shop: Shop object (193)>, <Shop: Shop object (192)>, <Shop: Shop object (191)>, <Shop: Shop object (190)>, <Shop: Shop object (189)>, <Shop: Shop object (188)>, <Shop: Shop object (187)>, '...(remaining elements truncated)...']>

    # lt -> less than의 약자 
    # lte -> less than equal 작거나 같다
    # gt -> greater than
    # gte -> greather than equal

In [25]:
qs.filter(
    pk__gte=5, #pk가 5보다 크거나 작고,  
    pk__lt =10, # pk(id)가 10보다 작은 것 
    # lt -> less than의 약자 
    # lte -> less than equal 작거나 같다
    # gt -> greater than
    # gte -> greather than equal 
    
)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE ("mall_shop"."id" >= 5 AND "mall_shop"."id" < 10) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(5, 10)

In [ ]:
qs.filter(pk__gte=5).filter(pk__lt=10)
# filter를 수행하면, 이 조건이 부여된 새로운 셋이 만들어짐 
# chaining 체이닝

In [27]:
qs1 = Shop.objects.all() # 수행해도 출력 X 
qs1 = qs1.filter(pk__gte=5) # 이렇게 수행해도 출력 x 
qs1 = qs1.filter(pk__lt=10)

In [29]:
qs2 = Shop.objects.all().filter(pk__gte=5).filter(pk__lt=10)
# 쿼리를 하려고 기다리는 상태
# filter를 하면서 계속 조건을 누적해나감
# 최대한 기다림

In [30]:
# QuerySet is Laze.

In [31]:
qs = Shop.objects.all() # 출력이 없기때문에 dB접근 안함

In [32]:
Shop.objects.all() # 이렇게 쓰면 DB접근을 함 
# Out 으로 값을 보여주는 것은? jupyther

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 21; args=()

<QuerySet [<Shop: Shop object (206)>, <Shop: Shop object (205)>, <Shop: Shop object (204)>, <Shop: Shop object (203)>, <Shop: Shop object (202)>, <Shop: Shop object (201)>, <Shop: Shop object (200)>, <Shop: Shop object (199)>, <Shop: Shop object (198)>, <Shop: Shop object (197)>, <Shop: Shop object (196)>, <Shop: Shop object (195)>, <Shop: Shop object (194)>, <Shop: Shop object (193)>, <Shop: Shop object (192)>, <Shop: Shop object (191)>, <Shop: Shop object (190)>, <Shop: Shop object (189)>, <Shop: Shop object (188)>, <Shop: Shop object (187)>, '...(remaining elements truncated)...']>

In [33]:
# 위에 두 개의 차이는?

In [36]:
qs = Shop.objects.all()
shop_list = list(qs)  # 리스트화 한다는것은 데이터를 올린다는 것
# 그런데 데이터가 많으면 많을수록 위험한 코드

# 리스트화 시키지 마라~~

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC; args=()

# Conditions (OR)

In [51]:
qs = Shop.objects.all()
qs.filter(pk__gte=5, pk__lt=10) # AND 조건으로 묶여있음

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE ("mall_shop"."id" >= 5 AND "mall_shop"."id" < 10) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(5, 10)

In [52]:
from django.db.models import Q

In [ ]:
# 필터를 적용하기 전에, Q를 통해서 컨디션을 적용할 수 있음

In [53]:
Q(pk__gte=5)

In [54]:
Q(pk__lt=10)# 별도의 객체

## AND

In [55]:
Q(pk__gte=5) & Q(pk__lt=10) # & 한개만 ! -> AND조건

## OR

In [56]:
Q(pk__gte=5) | Q(pk__lt=10)

In [58]:
qs = Shop.objects.all()
qs.filter(
    Q(pk__gte=5) | Q(pk__lt=10)
)

(0.016) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE ("mall_shop"."id" >= 5 OR "mall_shop"."id" < 10) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(5, 10)

<QuerySet [<Shop: Shop object (206)>, <Shop: Shop object (205)>, <Shop: Shop object (204)>, <Shop: Shop object (203)>, <Shop: Shop object (202)>, <Shop: Shop object (201)>, <Shop: Shop object (200)>, <Shop: Shop object (199)>, <Shop: Shop object (198)>, <Shop: Shop object (197)>, <Shop: Shop object (196)>, <Shop: Shop object (195)>, <Shop: Shop object (194)>, <Shop: Shop object (193)>, <Shop: Shop object (192)>, <Shop: Shop object (191)>, <Shop: Shop object (190)>, <Shop: Shop object (189)>, <Shop: Shop object (188)>, <Shop: Shop object (187)>, '...(remaining elements truncated)...']>

In [ ]:
conditions = Q(pk__gte=5)
conditions = conditions | Q(pk__lt=10)

In [ ]:
conditions |= Q(pk__lt=10)
# 위에거랑 동일함

# Get 1 Row

## Get 사용

In [38]:
pk = 10 #한 개의 조건
shop = Shop.objects.get(pk=pk) # 가져올 대상이 한 개임을 기대한다.
# 한 개가 아니면 예외가 발생
shop

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 10 LIMIT 21; args=(10,)

## filter 사용

In [ ]:
shop = Shop.objects.filter(pk=pk)

In [44]:
pk = 10
not_existed_pk = 100000

In [45]:
shop = Shop.objects.get(pk=pk)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 10 LIMIT 21; args=(10,)

In [46]:
Shop.objects.get(pk= not_existed_pk)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 100000 LIMIT 21; args=(100000,)

DoesNotExist: Shop matching query does not exist.

In [49]:
Shop.objects.filter(pk=not_existed_pk)[0] # 오류발생

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 100000 ORDER BY "mall_shop"."id" DESC LIMIT 1; args=(100000,)

IndexError: list index out of range

In [50]:
Shop.objects.filter(pk=not_existed_pk).first()
# 지정 Row가 없다면 None을 반환할 뿐, 예외는 발생하지 않는다.

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 100000 ORDER BY "mall_shop"."id" DESC LIMIT 1; args=(100000,)

# Update Rows 수정

## 1. 지정 Rows를 수정 
: 좀 더 효율적인 방법

In [59]:
qs = Shop.objects.all()
shop = qs.get(pk=10) #모델 객체로 가져오기

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 10 LIMIT 21; args=(10,)

In [61]:
shop.name, shop.telephone 
# 내가 번호를 바꿔야 한다면?

('가게명#6', '042-1234-9006')

In [62]:
shop.telephone = '042-1234-0006' # 그냥 shop이라는 변수에 값만 매겨놓은 것.
# 아직 DB에 반영이 안됨

In [ ]:
# 이게 반영이 언제되냐 ?
shop.save() #이렇게 .save()를 호출하면 돼!

## 2. 지정 범위의 Rows를 수정

In [76]:
# 여러개를 변경해야 한다면? 쿼리 셋을 찾아서 바꿔주는 것이 좋음 
qs = Shop.objects.all()
qs = qs.filter(pk__lte=10)
qs.update(
    description="Not used description",
)
# Shop이라는 테이블에 있는 모든 행에 대해서 하려는 것

(0.000) UPDATE "mall_shop" SET "description" = 'Not used description' WHERE "mall_shop"."id" <= 10; args=('Not used description', 10)

10

In [71]:
qs = qs.filter(pk__lte=10) # pk가 10보다 작거나 같은 조건에 부합하는 행으로만 줄여짐

In [77]:
qs.update(description="Not used description",)

(0.000) UPDATE "mall_shop" SET "description" = 'Not used description' WHERE "mall_shop"."id" <= 10; args=('Not used description', 10)

10

In [73]:
qs = Shop.objects.all()
qs = qs.filter(pk__lte=10)
# qs는 순회가능하다.
for shop in qs:
    shop.description = "not used description"
    shop.save()

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" <= 10 ORDER BY "mall_shop"."id" DESC; args=(10,)
(0.047) UPDATE "mall_shop" SET "name" = '가게명#6', "description" = 'not used description', "telephone" = '042-1234-9006', "photo" = '', "created_at" = '2021-12-01 06:45:14.751552', "updated_at" = '2021-12-01 07:41:54.211714' WHERE "mall_shop"."id" = 10; args=('가게명#6', 'not used description', '042-1234-9006', '', '2021-12-01 06:45:14.751552', '2021-12-01 07:41:54.211714', 10)
(0.000) UPDATE "mall_shop" SET "name" = '가게명#5', "description" = 'not used description', "telephone" = '042-1234-9005', "photo" = '', "created_at" = '2021-12-01 06:45:14.737855', "updated_at" = '2021-12-01 07:41:54.253834' WHERE "mall_shop"."id" = 9; args=('가게명#5', 'not used description', '042-1234-9005', '', '2021-12-01 06:45:14.737855', '2021-12-01 07:41:54.253834', 9)
(0.015) UPDATE "mall_shop" SET "name" = '가게명#4', "description" = 'not used description', "telephone" = '042-1234-9004', "photo" = '', "created_at" = '2021-12-01 06:45:14.727881', "updated_at" = '2021-12-01 07:41:54.259818' WHERE "mall_shop"."id" = 8; args=('가게명#4', 'not used description', '042-1234-9004', '', '2021-12-01 06:45:14.727881', '2021-12-01 07:41:54.259818', 8)
(0.000) UPDATE "mall_shop" SET "name" = '가게명#3', "description" = 'not used description', "telephone" = '042-1234-9003', "photo" = '', "created_at" = '2021-12-01 06:45:14.719905', "updated_at" = '2021-12-01 07:41:54.267796' WHERE "mall_shop"."id" = 7; args=('가게명#3', 'not used description', '042-1234-9003', '', '2021-12-01 06:45:14.719905', '2021-12-01 07:41:54.267796', 7)
(0.016) UPDATE "mall_shop" SET "name" = '가게명#2', "description" = 'not used description', "telephone" = '042-1234-9002', "photo" = '', "created_at" = '2021-12-01 06:45:14.706938', "updated_at" = '2021-12-01 07:41:54.273780' WHERE "mall_shop"."id" = 6; args=('가게명#2', 'not used description', '042-1234-9002', '', '2021-12-01 06:45:14.706938', '2021-12-01 07:41:54.273780', 6)
(0.000) UPDATE "mall_shop" SET "name" = '가게명#1', "description" = 'not used description', "telephone" = '042-1234-9001', "photo" = '', "created_at" = '2021-12-01 06:45:14.688634', "updated_at" = '2021-12-01 07:41:54.281764' WHERE "mall_shop"."id" = 5; args=('가게명#1', 'not used description', '042-1234-9001', '', '2021-12-01 06:45:14.688634', '2021-12-01 07:41:54.281764', 5)
(0.015) UPDATE "mall_shop" SET "name" = '셀프24시빨래방', "description" = 'not used description', "telephone" = '010-1234-4321', "photo" = '', "created_at" = '2021-12-01 06:41:15.208367', "updated_at" = '2021-12-01 07:41:54.288740' WHERE "mall_shop"."id" = 4; args=('셀프24시빨래방', 'not used description', '010-1234-4321', '', '2021-12-01 06:41:15.208367', '2021-12-01 07:41:54.288740', 4)
(0.000) UPDATE "mall_shop" SET "name" = '투썸플레이스', "description" = 'not used description', "telephone" = '042-1234-1234', "photo" = '', "created_at" = '2021-12-01 06:41:14.489386', "updated_at" = '2021-12-01 07:41:54.294724' WHERE "mall_shop"."id" = 3; args=('투썸플레이스', 'not used description', '042-1234-1234', '', '2021-12-01 06:41:14.489386', '2021-12-01 07:41:54.294724', 3)
(0.016) UPDATE "mall_shop" SET "name" = '셀프24시빨래방', "description" = 'not used description', "telephone" = '010-1234-4321', "photo" = '', "created_at" = '2021-12-01 06:05:02.878983', "updated_at" = '2021-12-01 07:41:54.305836' WHERE "mall_shop"."id" = 2; args=('셀프24시빨래방', 'not used description', '010-1234-4321', '', '2021-12-01 06:05:02.878983', '2021-12-01 07:41:54.305836', 2)
(0.000) UPDATE "mall_shop" SET "name" = '투썸플레이스', "description" = 'not used description', "telephone" = '042-1234-1234', "photo" = '', "created_at" = '2021-12-01 06:02:41.342895', "updated_at" = '2021-12-01 07:41:54.311823' WHERE "mall_shop"."id" = 1; args=('투썸플레이스', 'not used description', '042-1234-1234', '', '2021-12-01 06:02:41.342895', '2021-12-01 07:41:54.311823', 1)